.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #d6627b;
    overflow-x: hidden;
    padding-top: 16px;
  }
  .sidebar li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  