.App {
  text-align: center;
}
.mainpage{
  background-image: url('./assets/backgroundImg.jpg');
  position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.header1{
color:white !important;
font-size: larger;
font-family:Verdana, Geneva, Tahoma, sans-serif;
display: flex;
justify-content: flex-end;
}

.active {
  background-color: #ff95a4;
  border-radius: 25px;
}
.pointer{
  cursor: pointer;
}
.bg{
  background-color: #d6627b;
}